@use '@material/theme';
@use '@material/shape';
@use '@material/layout-grid';
@use '@material/typography';

.browser-view {
  margin-top: 32px;

  @include layout-grid.inner(
    phone, 
    map-get(layout-grid.$default-margin, phone), 
    map-get(layout-grid.$default-gutter, phone)
  );

  @media (min-width: layout-grid.breakpoint-min(tablet)) {
    @include layout-grid.inner(
      tablet, 
      map-get(layout-grid.$default-margin, tablet), 
      map-get(layout-grid.$default-gutter, tablet)
    );
  }
  @media (min-width: layout-grid.breakpoint-min(desktop)) {
    @include layout-grid.inner(
      desktop, 
      map-get(layout-grid.$default-margin, desktop), 
      map-get(layout-grid.$default-gutter, desktop)
    );
  }
}

.browser-view__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @include layout-grid.cell(
    phone, 
    4, 
    map-get(layout-grid.$default-gutter, phone)
  );

  @media (min-width: layout-grid.breakpoint-min(tablet)) {
    @include layout-grid.cell(
      tablet, 
      2,
      map-get(layout-grid.$default-gutter, tablet)
    );
  }
  @media (min-width: layout-grid.breakpoint-min(desktop)) {
    @include layout-grid.cell(
      desktop, 
      4,
      map-get(layout-grid.$default-gutter, desktop)
    );
  }
}
.browser-view__artwork {
  border: 1px solid;
  border-color: rgba(theme.prop-value(on-surface), .3);
  border-radius: shape.$medium-component-radius;
  border-radius: 8px;
  
  width: 200px;
  height: 200px;

  margin-bottom: 8px;
}
.browser-view__children {
  @include layout-grid.cell(
    phone, 
    4, 
    map-get(layout-grid.$default-gutter, phone)
  );

  @media (min-width: layout-grid.breakpoint-min(tablet)) {
    @include layout-grid.cell(
      tablet, 
      6,
      map-get(layout-grid.$default-gutter, tablet)
    );
  }
  @media (min-width: layout-grid.breakpoint-min(desktop)) {
    @include layout-grid.cell(
      desktop, 
      8,
      map-get(layout-grid.$default-gutter, desktop)
    );
  }
  
}

.browser-view__load-indicator {
  @include layout-grid.cell(
    desktop, 
    12,
    map-get(layout-grid.$default-gutter, desktop)
  );
}

.browser-view__section-heading {
    @include typography.typography(headline5);
    margin-top: 0;
    margin-bottom: 8px;
}
.browser-view-typography--title {
  @include typography.typography(subtitle1);
}

.browser-view-typography--subtitle {
  @include typography.typography(subtitle2);
}
